//out: styles.css
//sourcemap: false
//compress: false
@color: #f0f2f4;

body
{
    color:@color;
}

.flex-direction(@direction) when (@direction = 1)
{
    flex-direction: row;
}

.flex-direction(@direction) when (@direction = 2)
{
    flex-direction: row-revers;
}

.flex-direction(@direction) when (@direction = 3)
{
    flex-direction: column;
}

.flex-direction(@direction) when (@direction = 4)
{
    flex-direction: column-reverse;
}

.flex-wrap(@wrap) when (@wrap = 1)
{
    flex-wrap: nowrap;
}

.flex-wrap(@wrap) when (@wrap = 2)
{
    flex-wrap: wrap;
}

.flex-wrap(@wrap) when (@wrap = 3)
{
    flex-wrap: wrap-reverse;
}

.align-items(@align) when (@align = 1)
{
    align-items: auto;
}

.align-items(@align) when (@align = 2)
{
    align-items:flex-start;
}

.align-items(@align) when (@align = 3)
{
    align-items:flex-end;
}

.align-items(@align) when (@align = 4)
{
    align-items:baseline;
}

.align-items(@align) when (@align = 5)
{
    align-items:center;
}

.align-items(@align) when (@align = 6)
{
    align-items:stretch;
}

.justify-content {

}

.flexbox
{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
}

.alias {
    width: 45%;

}

.rate {
    width: 30%;

}

.change {
    margin:auto;
    width: 21%;
}

.tool-separators {
        border-top:1px solid #909294;
        border-bottom :1px solid #909294;
}

@media only screen and (min-width: 320px){

    .content {
        .flexbox;
        .flex-direction(1);
        .align-items(2);
    }

    .elem-width {
        max-width: 100%;
    }

    .quotes-container {
        .elem-width;
    }

    .row {
        .flexbox;
        .elem-width;
        .flex-direction(1);
        .align-items(5);
        .tool-separators;
        &:hover {
            cursor: pointer;
        }
    }

    .tool-box-header
    {
        &:hover {
            cursor: default;
        }
    }

    .tool-box {
        .flex-direction(3);
        .elem-width;
        .flexbox;
        .flex-wrap(2);
        max-width: 100%;
        padding-left: @side-padding+0px;
        padding-right: @side-padding+0px;
        .tool-separators;
    }
}


@side-padding: 15;
@basis-padding:10;
@tool-widht:320;
@toolbox-color:#2f3031;


.center-label {
    margin-left: auto;
    margin-right: auto;
}

.inline-block {
    display: inline-block;
}

.row span {
    .center-label;
}

.quotes-container {
    background-color: @toolbox-color;
    width: @tool-widht + 0px;
}

.row {
    margin-right: auto;
    width: 100%;
    height:50px;
}
